.overview-container {
    padding: 2rem 2rem !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-bottom: 2px solid green;

    .overview-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h3 {
            font-size: 26px;
            margin-bottom: 0;
            color: green;
        }

        .overview-actions {
            display: flex;
            align-items: center;

            .btn {
                margin-right: 0.5rem;
            }
        }
    }


    @media (max-width: 1199px) {
        width: 100% !important;
    }

    &.full-width {
        width: 100% !important;
    }
}