html {
  margin-top: 0px !important
}
.elementor-kit-5 button, .elementor-kit-5 input[type="button"], .elementor-kit-5 input[type="submit"], .elementor-kit-5 .elementor-button {
  background-image: none !important;
  background-color: none !important;
  border: none !important;
}
body:not([class*=elementor-page-]) {
  font-family: "Poppins", sans-serif;
  .site-main{

    @media (max-width: 991px) {
      --bs-gutter-x: 4.5rem !important;
    }

    @media (min-width: 576px) {
      max-width: 100% !important;
    }
    @media (min-width: 768px) {
      max-width: 100% !important;
    }
    @media (min-width: 992px) {
      max-width: 100% !important;
    }

    @media (min-width: 1200px) {
      max-width: $content-width !important;
    }

    #profile-layout-main {
      // make it dynamic full height
      min-height: calc(100vh - 100px);

      .bg-gray {
        background-color: #ffffff;
      }

      h3 {
        font-size: 26px;
      }

      .animate.fadeUp {
        opacity: 0;
        animation: fadeUp 0.5s ease-in-out forwards;
        -webkit-animation: fadeUp 0.5s ease-in-out forwards;
      }

      .overview-container {
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
      }
    }

    a {
      font-size: 16px !important;
      text-decoration: none;
    }

    .responsive-sidebar {

      .nav-toggler .fas {
        color: green;
      }

      .close-button .fas {
        color: #ffffff;
      }

      .close-button .fas, .nav-toggler .fas {
        font-size: 28px;
        cursor: pointer;
      }
      li {
        margin-bottom: 0.5rem;
        list-style-type: none;
      }
    }
  }

  .site-footer {
    display: none;
  }
}