#profile-layout-main {
  font-family: $font;
  padding-bottom: 2rem;

  .layout-content {
    padding: 0rem 1rem;
    @extend .util-rounded;
    z-index: unset;

    @media (max-width: 991px) {
      padding: 3rem 1rem;
    }
  }
}