$content-width: 100%;

/*
  Colors: 
*/

$primary-color: #4CA545 !default;
$secondary-color: #4F9949 !default;
$background-color-gray: #F9F9F9;

$button-color: #017D01;
$danger-color: #FF4F4F;

$link-color: $button-color;

/*
  Font
*/
$font: 'Poppins', sans-serif !default;
$font-bold: '700' !default;
$font-regular: '500';
$font-light: '300';

/*
  Font Sizes
*/
$headings: (
  'h1': 2rem,
  'h2': 1.5rem,
  'h3': 1.25rem,
  'h4': 1rem,
  'h5': 0.875rem,
  'h6': 0.75rem,
) !default;

$fontSizes: (
  'xs': 0.75rem,
  'sm': 0.875rem,
  'base': 1rem,
  'lg': 1.125rem,
  'xl': 1.25rem,
  '2xl': 1.5rem,
  '3xl': 1.875rem,
  '4xl': 2.25rem,
  '5xl': 3rem,
  '6xl': 4rem,
) !default;

/*
  Breakpoints
*/
$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1536px,
  'widescreen': 1920px,
) !default;

/*
  Container widths
*/
$container-widths: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1536px,
  'widescreen': 1920px,
) !default;