.event-card {
  height: 235px;
  background: linear-gradient(150deg, #037B07 0%, #0D25B9 100%);
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  .event-footer {
    position: absolute;
    bottom: 0px;
    right: 20px;
  }
}