.dxl-btn {
    background-color: $success-color;
    color: #ffffff !important;
    text-align: center;
    border-color: $success-color;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input[type="submit"] {
    @extend .dxl-btn;
}