.dxl-btn {
    background-color: $button-color !important;
    color: #ffffff !important;
    text-align: center;
    border-color: $button-color;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 12px !important;

    &.theme-yellow {
        background-color: #FFB800;
    }
}

a.dxl-btn {
    font-size: 12px !important;
}

button:not([class*="theme-"]) {
    background-color: $button-color !important;
}

button[type="button"] {
    @extend .dxl-btn;
}

input[type="submit"] {
    @extend .dxl-btn;
}