.dropdown-menu {
    background-color: #ffffff;

    .dropdown-item {
        cursor: pointer;
    }

    .dropdown-item:hover {
        background-color: #ffffff;
    }

    .dropdown-item a {
        color: $button-color;
        font-weight: 600;
    }

    .dropdown-item, .dropdown-item a {
        font-size: 14px !important;
    }
}