.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                border-bottom: 0;
            }
            .modal-body {
                .row.event-type-selector {
                    margin-bottom: 0.5rem;
                    .type-selector {
                        margin-bottom: 1rem;

                        // &:last-child {
                        //     width: 100%;
                        // }
                        .type-inner {
                            padding: 1rem;
                            border-radius:10px;
                            -webkit-border-radius:10px;
                            -moz-border-radius:10px;
                            -ms-border-radius:10px;
                            -o-border-radius:10px;
                            background-color: #2d6f19;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            
                            &:hover {
                                background: #2d6f1990;
                                transition: ease-in-out 0.3s all;
                                -webkit-transition: ease-in-out 0.3s all;
                                -moz-transition: ease-in-out 0.3s all;
                                -ms-transition: ease-in-out 0.3s all;
                                -o-transition: ease-in-out 0.3s all;
                            }

                            &:not(:hover) {
                                transition: ease-in-out 0.3s all;
                                -webkit-transition: ease-in-out 0.3s all;
                                -moz-transition: ease-in-out 0.3s all;
                                -ms-transition: ease-in-out 0.3s all;
                                -o-transition: ease-in-out 0.3s all;
                            }

                            .type-selector-label {
                                color: #ffffff;
                                font-weight: 600;

                                &.disabled {
                                    background-color: #2d6f1950;
                                    pointer-events: none;
                                }
                            }
                        }

                        &.active {
                            .type-inner {
                                background: #2d6f1990;
                                .type-selector-label {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
            .modal-footer {
                border-top: 0;
            }
        }
    }
}