.sidebar {
    // center the sidebar
    @media (min-width: 992px) {
        border-right: 1px solid #e5e5e5;
        height: calc(100vh - 100px);
        width: 12% !important;
    }

    .menu-bar {
        height: inherit;
        .navigation {
            li {
                list-style: none;
                margin-bottom: 0.75rem;
                a {
                    text-decoration: none;
                }
            }
        }

        .sidebar-bottom-links {
            position: absolute;
            bottom: 20px;
            left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    a, a:hover {
        font-size: 16px !important;
        text-decoration: none;
        color: #f9f9f9;
    }
}

/*
* responsive navigation
*/

.responsive-sidebar {
    #responsive-navigation {

        .nav-list {
            position: relative;
            opacity: 0;
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            
            transition: ease-in-out 0.2s all;
            -webkit-transition: ease-in-out 0.2s all;
            -moz-transition: ease-in-out 0.2s all;
            -ms-transition: ease-in-out 0.2s all;
            -o-transition: ease-in-out 0.2s all;

            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 9999;
            background: green;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .close-button {
                position: absolute;
                left: 20px;
                top: 50px;
            }

            ul li {
                margin-bottom: 0.5rem;
                list-style-type: none;
            }

            ul li a {
                color: #ffffff;
            }

            &.active {
                opacity: 1;
                transform: translateX(0%);
                -webkit-transform: translateX(0%);
                -moz-transform: translateX(0%);
                -ms-transform: translateX(0%);
                -o-transform: translateX(0%);
            }
        }
    }
}