.sidebar {
  padding-right: 0 !important;
  border-radius: 20px 0px 0px 20px !important;
  -webkit-border-radius: 20px 0px 0px 20px !important;
  -moz-border-radius: 20px 0px 0px 20px !important;
  -ms-border-radius: 20px 0px 0px 20px !important;
  -o-border-radius: 20px 0px 0px 20px !important;
  height: 1000px;

  @media(max-width: 1023px) {
    height: auto;
  }

  .menu-bar{
    background-color: $secondary-color;
    height: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
    border:none;
    padding: 2rem;
    width: 100%;
    border-radius: 15px 0px 0px 15px !important;
    -webkit-border-radius: 15px 0px 0px 15px !important;
    -moz-border-radius: 15px 0px 0px 15px !important;
    -ms-border-radius: 15px 0px 0px 15px !important;
    -o-border-radius: 15px 0px 0px 15px !important;

    position: relative;

    .sidebar-bottom-links {
      position: absolute;
      bottom: 30px;
      display:flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      justify-content: center;
      .btn-white {
          border: 2px solid #fff;
          background: #fff;
          color: $secondary-color;
          display:flex;
          justify-content: center;
          padding: 10px 30px;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
      }
    }
  }

  ul.navigation {
    padding-left: 0rem !important;
  }
  li {
    padding: 0.5rem 0;
    list-style: none;
    text-align: center;
    
    a {
      color: #fff;
      text-decoration: none;
    }

    .menu-sub {
      padding-left: 1rem;
    }
  }

  // responsive menu bar for mobile
  .responsive-sidebar {
    position:fixed;
    top: 0px;
    left: 0;
    padding: 10px 1rem;
    background: white;
    border-bottom: 2px solid $secondary-color;
    width: 100%;
    z-index: 9999;
    .nav-toggler {
      display:flex;
      align-items:center;
      height: 100%;
      cursor: pointer;
      i {
        color: $secondary-color;
        font-size: 1.5rem;
      }
    }

    #responsive-navigation {
      position: absolute;
      width: 100%;
      height: 100%; 
    }
    
    .nav-list{
      background: $secondary-color;
      padding: 1.5rem;
      border-bottom: 2px solid $secondary-color;
      position: fixed;
      left: -100%;
      right: 0;
      top: 0px;
      width: 100%;
      height: 100%;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.1, 1, 12, 0.1);
      z-index: 2;
      .close-button {
        cursor: pointer;
        i.fas {
          color: $primary-color;
          font-size: 1.5rem;
        }
      }

      &.active {
        left: 0;
      }
      li {
        text-align:left;
        position: relative;
        padding: 1rem 0rem;
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          border-radius: 100px;        ;
          -webkit-border-radius: 100px        ;
          -moz-border-radius: 100px        ;
          -ms-border-radius: 100px        ;
          -o-border-radius: 100px        ;
          bottom: 0;
          left: 0;
          background: $primary-color;
      }
  
        ul li {
          border-bottom: none;

          &::after {
            display:none;
          }
        }
  
        a {
          color: $primary-color;
        }
      }
    }
  }
}

li {
  transition: left 0.2;
  -webkit-transition: left 0.2;
  -moz-transition: left 0.2;
  -ms-transition: left 0.2;
  -o-transition: left 0.2;
  transition-timimg-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}