.dxl-btn, input[type="submit"] {
    &.theme-yellow {
        background-color: #FFB800;
        color: #fff;
    }
}

a.theme-yellow {
    color: #FFB800;
}

form label.theme-yellow {
    color: #FFB800;
}