.membership-overview {
  background: linear-gradient(175deg, #4CA545 0%, $secondary-color 100%);
  // background: $secondary-color;
  padding: 2rem;
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}